@{
    ViewData["Title"] = "Home Page";
}



<div class="hero-image">
    <div class="hero-text">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/christopherbergl/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:50px; opacity: 0.6;">
               </i></a></li>
            <li><a href="https://www.facebook.com/christopher.berglund.3" target="_blank"><i class="fa fa-facebook-square" style="font-size: 50px; opacity: 0.6;
"></i></a></li>
        </ul>
        <br />
        <br />
        <h2>Heey!</h2>
        <br />
        <h1 style="font-size:50px">I am Christopher</h1>
        <br />
        <h3>And I'm a Backend Developer</h3>
        <h5>(Student)</h5>
        <br>
        <hr>
        <br>
        <a asp-area="" asp-controller="Home" asp-action="Contact"><button type="button" class="btn btn-primary">Contact me!</button></a>
    </div>
</div>





@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
