<div class="hero-image">
    <div class="hero-text">
        <br>
        <br>
        <br>
        <ul>
            <li><img src="~/img/NBI.png" style="width: 200px; height: 200px;"></li>
            <br>
            <br>
            <li style="font-size: 25px;">Backend Development at NBI</li>
            <li style="font-size: 15px;">2020-08 - 2022-06</li>

            <br>
            <hr>
            <br>

            <li style="font-size: 20px; color: blue;">C#</li>
            <br>
            <li style="font-size: 20px; color: blue;">SQL</li>
            <br>
            <li style="font-size: 20px; color: blue;">ASP.NET MVC</li>
            <br>
            <li style="font-size: 20px; color: blue;">Web.API</li>
            <br>
            <li style="font-size: 20px; color: blue;">CMS</li>
            <br>
            <li style="font-size: 20px; color: blue;">Enity Framework</li>
            <br>
            <li style="font-size: 20px; color: blue;">HTML</li>
            <br>
            <li style="font-size: 20px; color: blue;">CSS</li>
            <br>
            <li style="font-size: 20px; color: blue;">Scrum</li>
            
            <br>
            <br>
            <hr>
            <br>
        </ul>
    </div>
</div>


