<div class="hero-image">
    <div class="hero-text">
        <br>
        <br>
        <br>
        <ul>
            <li><img src="~/img/ChoPap2.png" style="width: 500px; height: 300px;"></li>
            <br>
            <br>
            <li style="font-size: 20px; color: white;">ChoPap</li>
            <li style="font-size: 15px; color: white;">- 2021</li>

            <br>
            <hr />
            <br />

            <li style="font-size: 15px; color: white;">C# Console Application</li>
            <br>
            <li style="font-size: 20px; color: blue;">Stock Robot</li>
            <br>
            <li style="font-size: 20px; color: blue;">Screen real-time stockdata</li>
            <br>
            <li style="font-size: 20px; color: blue;">Saves & analyz stockdata</li>
            <br>
            <li style="font-size: 20px; color: blue;">Simulate buy/sell-actions</li>
            <br>
            <li style="font-size: 20px; color: blue;">Simulate accounts</li>
            <br>
            <li style="font-size: 20px; color: white;">(Status: in progress)</li>
            
            <br>
            <br>
            <hr>
            <br>
        </ul>
    </div>
</div>


