<div class="hero-image">
    <div class="hero-text">
        <br>
        <br>
        <br>
        <ul>
            <li><img src="~/img/volvo.jpg" style="width: 500px; height: 300px;"></li>
            <br>
            <li style="font-size: 25px;">Volvo Cars</li>
            <li style="font-size: 15px;">2018 - now</li>

            <br>
            <hr>
            <br>

            <li style="font-size: 20px; color: blue;">Teamleader</li>
            <br>
            <li style="font-size: 20px; color: blue;">Logistic Fire Extinguisher</li>
            <br>
            <li style="font-size: 20px; color: blue;">Acting Production Manager</li>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </ul>
    </div>
</div>
