<div class="hero-image">
    <div class="hero-text">
        <br>
        <br>
        <br>
        <div class="card">
            <img src="~/img/me.jpg" alt="Card Back" style="width: 200px; height: 200px;">
            <img src="~/img/snorkelProgrammer.jpg" style="width: 200px; height: 200px;" class="img-top" alt="Card Front">
        </div>
        <br>
        <br>
        <h2>Who am I?</h2>
        <br>
        <hr>
        <br>
        <p>
            Im a happy guy with tons of energy, who comes from the dense forests of Småland and
            moved to the big city of Gothenburg!
            I live on Hisingen Island with a girlfriend in Kungsbacka.

        <p>
            When I'm not at school,
        I work night shifts on Volvo Cars,
        hang out with my girlfriend with children aged 10 & 12, 
        train Muay thai and of course, </p>

        <h3 style="color: blue;">I build applications late into the night!</h3>
        <br />
        <p style="font-family: cursive; font-size: 15px">Ps. I always find time to code (hover my picture) &#128540;</p>
        <br>
        <hr>
        <br>
    </div>
</div>